.TodoList {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.TodoList .Todo {
  margin: 20px;
  background-color: #F5F5F5;
}
